body {
  background-color: rgb(85, 85, 85); 
  /* background-image: url('../images/moonlight.jpg'); */
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 600px;
  margin-top: 15px;
}

a img {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin-right: 10px;
}

h1 {
  display: block;
  font-family: 'Permanent Marker', cursive;
  color: rgb(121, 4, 4);
  /* color: whitesmoke; */
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  width: 300px;
  margin-left: 50px;
  margin-right: 40px;
  /* border: 2px solid red; */
}

.canvas-container {
  position: relative;
}

#canvas, #score, #splash-container, #game-over {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 600px;
  height: 800px;
  margin-top: 5px;
}

#splash-container {
  text-align: center;
  z-index: 2;
  background-image: url('../images/background.png');
  background-size: cover;
}

#score, #splash-container *, #game-over * {
  color: whitesmoke;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  text-align: center;
}

#splash-container > article:first-child {
  margin-top: 20%;
}

#splash-container article:nth-child(2) {
  margin-top: 10%;
}

.instructions {
  margin-bottom: 50px;
}

.instructions h2:first-child {
  margin-bottom: 10px;
}

#splash-container h2:last-child {
  margin-top: 10px;;
}

#score {
  z-index: 1;
  margin-top: 15px;
}


.music-controls {
  width: 50px;
  height: 50px;
  margin-left: 70px;
}

#music-play, #music-mute,#game-over * {
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
  margin-left: 10px;
  color: whitesmoke;
}

#music-play:hover, #music-mute:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#game-over {
  z-index: 3;
}

#game-over h2 {
  margin-top: 50%;
}

#game-over p {
  margin-top: 20px;
}

#game-over h2, #total-score {
  color: red;
}